<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>

  <connectionStrings>
    <add name="IceAllocationConnectionString" connectionString="Data Source=iceallocation.c3ymbjvbtxfe.us-west-2.rds.amazonaws.com,1433; Initial Catalog=IceAllocation; User ID=Seafair; Password='Project3900!';"
     providerName="System.Data.SqlClient" />
  </connectionStrings>

  <system.web>
    
    <authentication mode="Forms" >
      <forms name=".FormsAuth" loginUrl="~/Login.aspx" protection="All" slidingExpiration="false" requireSSL="false"/>
    </authentication>
    
    <compilation debug="true" targetFramework="4.5" />
    
    <customErrors mode="On" defaultRedirect="~/Error">
      <error statusCode="404" redirect="~/NotFound"/>
    </customErrors>
    
    <httpRuntime targetFramework="4.5" />

    <roleManager enabled="true" defaultProvider="AspNetSqlLocalDbProvider">
      <providers>
        <clear />
        <add connectionStringName="IceAllocationConnectionString"
             applicationName="IceAllocation"
             name="AspNetSqlLocalDbProvider"
          type="System.Web.Security.SqlRoleProvider" />
      </providers>
    </roleManager>

    <membership defaultProvider="AspNetSqlLocalDbProvider">
      <providers>
        <clear />
        <add name="AspNetSqlLocalDbProvider"
             connectionStringName="IceAllocationConnectionString"
             type="System.Web.Security.SqlMembershipProvider"
             enablePasswordRetrieval="true"
             enablePasswordReset="false"
             requiresQuestionAndAnswer="false"
             applicationName="IceAllocation"
             requiresUniqueEmail="false"
             passwordFormat="Clear"
             maxInvalidPasswordAttempts="5"
             minRequiredPasswordLength="6"
             minRequiredNonalphanumericCharacters="0"
             passwordAttemptWindow="10"
             passwordStrengthRegularExpression=""/>
      </providers>
    </membership>


    <siteMap defaultProvider="XmlSiteMapProvider" enabled="true">
      <providers>
        <add name="XmlSiteMapProvider"
          description="Default SiteMap provider."
          type="System.Web.XmlSiteMapProvider"
          siteMapFile="Web.sitemap"
          securityTrimmingEnabled="true" />
      </providers>
    </siteMap>
    
  </system.web>

  
  
  <appSettings>
    <add key="ValidationSettings:UnobtrusiveValidationMode" value="None" />
  </appSettings>

  
  
  <system.net>
    <mailSettings>
      <smtp from="seafairiceallocator@gmail.com">
        <network host="smtp.gmail.com" password="Project3900!"
          userName="seafairiceallocator@gmail.com" port="25"
          enableSsl="true" defaultCredentials ="false"/>
      </smtp>
    </mailSettings>
  </system.net>


</configuration>
